@font-face {
    font-family: 'Nasalization';
    src: url('Fonts/nasalization-rg.otf') format('opentype');
    /* Add additional src lines if needed for different formats */
}

.holder {
    position: relative;
    width: 100%;
    height: 100vh; /* Set height to viewport height */
}

.frame {
    width: 100%;
    height: calc(100% - 50px); /* Adjust height to leave space for the logo */
}

.logo {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 50%; /* Set width to 50% of the viewport */
    height: auto; /* Maintain aspect ratio */
    max-width: 400px; /* Limit maximum width */
    z-index: 1; /* Ensures the logo is above the iframe */
}

.coming-soon {
    position: absolute;
    bottom: 20px; /* Adjust as needed */
    left: 50%;
    transform: translateX(-50%);
    color: #b4a192; /* Text color */
    font-family: 'Nasalization', sans-serif; /* Use the custom font */
    font-size: 24px; /* Font size */
    font-weight: bold; /* Font weight */
    z-index: 1; /* Ensures the text is above the iframe */
    text-align: center; /* Center the text horizontally */
    width: 80%; /* Limit text width to avoid breaking too early */
    max-width: 300px; /* Adjust as needed */
    white-space: nowrap; /* Prevent text from wrapping */
    overflow: hidden; /* Hide overflow text */
    text-overflow: ellipsis; /* Add ellipsis for overflow text */
}

/* Media query for mobile view */
@media (max-width: 768px) {
    .logo {
        width: 70%; /* Adjust width for mobile view */
        max-width: 150px; /* Adjust maximum width for mobile view */
    }
    .coming-soon {
        font-size: 18px; /* Adjust font size for mobile view */
    }
}
